.paragraph,
.list {
    color: black;
    font-size: 22px;
}

.paragraph,
.description,
.image,
.title {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
}

img {
    height: 512px;
    width: 683px;
}


